﻿{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags %}
{% block content %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        
        <title>
            {{ self.header_title }}
        </title>
        <meta name="description" content="{{self.meta_content}}" />
        
    </head>
    <body>
    <!-- Preloader
    <div class="preloader" id="preloader">
        <div class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span></div>
    </div>-->
    <!-- Header Area-->
    {% include "header.html" %}
    <!-- Welcome Area-->
    <div class="container">
        <div class="row ">
            <!-- About Thumbnail Area-->
            {% image self.image original as img %}
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <img style="margin-top: 170px;" src="{{ img.url }}" alt="Facility Management Training">
            </div>
            <!-- About Us Content Area-->
            <div class="col-12 col-md-8 col-lg-6">
                <div class="feature-area feature3 section-padding-120-70" style="padding-bottom: 0px;">
                    <div class="container">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-12 col-md-12">
                                <!-- Feature Content-->
                                <div class="feature--content mb-50">
                                    <h2>{{ self.subtitle }}</h2>
                                    <p>{{ self.content1 }}</p><br>
                                    <br>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row ">
                <p>{{ self.content2 }} </p>
            </div>
           
        </div>
    </div>


    <section class="cta-area cta3 py-5" style="margin-top:15px">

        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-sm-8">
                    <div class="cta-text mb-4 mb-sm-0">
                        <h4 class="text-white mb-0">{{ self.requestcontent }}</h4>
                    </div>
                </div>
                <div class="col-12 col-sm-4 text-sm-right"><a class="btn saasbox-btn white-btn" href="/contact-form/">{{ self.requestbutton }}</a></div>
            </div>
        </div>
    </section>

    <!-- Cookie Alert Area-->
    <div class="cookiealert mb-0" role="alert" style="display: none;">
        <p>This site uses cookies. We use cookies to ensure you get the best experience on our website. For details, please check our <a href="#" target="_blank"> Privacy Policy.</a></p>
        <button class="btn btn-primary acceptcookies" type="button" aria-label="Close">I agree</button>
    </div>
    <!-- Footer Area-->
    {% include "footer.html" %}

    <!-- All JavaScript Files-->
    {% include "all_js.html" %}

{% endblock %}
</body>
</html>