{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        
        <title>
            {{ self.header_title }}
        </title>
        <meta name="description" content="{{self.meta_content}}" />
        
    </head>
    <body>

    <!-- Preloader
    <div class="preloader" id="preloader">
        <div class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span></div>
    </div>-->
    <!-- Header Area-->
    {% include "header.html" %}
    <!-- Welcome Area-->
    <!-- Welcome Area-->
    <section class="welcome-area hero4" id="home">
        <!-- Hero Background Shape-->
        <div class="hero4-bg-shape"><img src="/static/img/core-img/hero-4.png" alt="white curve"></div>
        <!-- Hero Background Shape-->
        <div class="hero4-bg-shape2"><img src="/static/img/core-img/hero-4-2.png" alt="white curve"></div>
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md-6">
                    <!-- Content-->
                    <br>
                    <div class="welcome-content owl-carousel hero-slides pr-3">
                        <!-- Single Hero Slide-->
                        <!-- <div class="single-hero-slide">
                            <span class="key-quote" data-animation="fadeInUp" data-delay="300ms">{{ self.covid_title1 }}</span>
                            <h2 data-animation="fadeInUp" data-delay="500ms">{{ self.covid_content1 }}</h2>
                            <span class="mb-4" data-animation="fadeInUp" data-delay="1000ms">{{ self.covid_content2 }}</span>
                            <a class="btn saasbox-btn white-btn mr-3 mt-3" href="/covid-solutions/" data-animation="fadeInUp" data-delay="1000ms">{{ self.button1 }}</a>
                        </div> -->
                        <!-- Single Hero Slide-->
                        <div class="single-hero-slide">
                            <span class="key-quote" data-animation="fadeInUp" data-delay="300ms">{{ self.facility_title1 }}</span>
                            <h2 data-animation="fadeInUp" data-delay="500ms">{{ self.facility_content1 }}</h2>
                            <span class="mb-4" data-animation="fadeInUp" data-delay="1000ms">{{ self.facility_content2 }}</span>
                            <a class="btn saasbox-btn white-btn mr-3 mt-3" href="/module/facility-overview/" data-animation="fadeInUp" data-delay="1000ms">{{ self.button2 }}</a>
                        </div>
                        <div class="single-hero-slide">
                            <span class="key-quote" data-animation="fadeInUp" data-delay="300ms">{{ self.crm_title1 }}</span>
                            <h2 data-animation="fadeInUp" data-delay="500ms">{{ self.crm_content1 }} </h2>
                            <span class="mb-4" data-animation="fadeInUp" data-delay="1000ms">{{ self.crm_content2}}</span>
                            <a class="btn saasbox-btn white-btn mr-3 mt-3" href="/module/lead-management/" data-animation="fadeInUp" data-delay="1000ms">{{ self.button3 }}</a>
                        </div>
                        <div class="single-hero-slide">
                            <span class="key-quote" data-animation="fadeInUp" data-delay="300ms"> {{ self.assests_title1 }}</span>
                            <h2 data-animation="fadeInUp" data-delay="500ms">{{ self.assests_content1 }} </h2>
                            <span class="mb-4" data-animation="fadeInUp" data-delay="1000ms">{{ self.assests_content2 }}</span>
                            <a class="btn saasbox-btn white-btn mr-3 mt-3" href="/module/assets-management/" data-animation="fadeInUp" data-delay="1000ms">{{ self.button4 }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card hero-video-card">
                        <!-- Shape-->
                        <div class="video-card-slides owl-carousel">
                            <!-- <img src="/static/img/bg-img/corona-600.webp" alt="covid facility management"> -->
                            <img src="/static/img/bg-img/1x/assets-small-20.jpg" alt="asset management">
                            <img src="/static/img/bg-img/1x/sales-20.jpg" alt="sales management">
                            <img src="/static/img/bg-img/1x/maintenance-man.jpg" alt="maintenance management">
                        </div>
                    </div>
                </div><br>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="border-dashed"></div>
    </div>
    <!-- Service Area-->
    <section class="service-area service3 section-padding-120-70" id="service">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Service Area-->
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="card service-card mb-50 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
                        <div class="card-body">
                            <div class="icon"><i class="lni-seo-consulting"></i></div>
                            <h4>{{ self.box_title1 }}</h4>
                            <p>{{ self.box_text1 }}</p>
                        </div>
                    </div>
                </div>
                <!-- Single Service Area-->
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="card service-card active mb-50 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms">
                        <div class="card-body">
                            <div class="icon"><i class="lni-apartment"></i></div>
                            <h4>{{ self.box_title2 }}</h4>
                            <p>{{ self.box_text2 }}</p>
                        </div>
                    </div>
                </div>
                <!-- Single Service Area-->
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="card service-card mb-50 wow fadeInUp" data-wow-delay="800ms" data-wow-duration="1000ms">
                        <div class="card-body">
                            <div class="icon"><i class="lni-briefcase"></i></div>
                            <h4>{{ self.box_title3 }}</h4>
                            <p>{{ self.box_text3 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="border-dashed"></div>
    </div>
    <!-- saasbox Features Area-->
    <div class="saasbox-tab-area section-padding-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-9 col-lg-6">
                    <div class="section-heading text-center">
                        <h2>{{ self.snippet_title }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="tab--area">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item"><a class="nav-link active" id="tab--1" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">{{ self.snippet_title1 }}</a></li>
                            <li class="nav-item"><a class="nav-link" id="tab--2" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">{{ self.snippet_title2 }}</a></li>
                            <li class="nav-item"><a class="nav-link" id="tab--3" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">{{ self.snippet_title3 }}</a></li>
                            <li class="nav-item"><a class="nav-link" id="tab--3" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab3" aria-selected="false">{{ self.snippet_title4 }}</a></li>
                            <li class="nav-item"><a class="nav-link" id="tab--3" data-toggle="tab" href="#tab5" role="tab" aria-controls="tab3" aria-selected="false">{{ self.snippet_title5 }}</a></li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <!-- Tab Pane-->
                            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-12 col-md-6">
                                        <div class="tab--text mt-5">
                                            
                                            <p>{{ self.snippet_content1 }}</p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="tab-thumb mt-5"><img src="/static/img/landingpage/facility.jpg" alt="facility management software"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- Tab Pane-->
                            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab--2">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-12 col-md-6">
                                        <div class="tab-thumb mt-5"><img src="/static/img/landingpage/assets.jpg" alt="asset management software"></div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="tab--text mt-5">
                                            <p>{{ self.snippet_content2 }}</p></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Tab Pane-->
                            <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab--3">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-12 col-md-6">
                                        <div class="tab--text mt-5">
                                            <p>{{ self.snippet_content3 }}</p>                                       </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="tab-thumb mt-5"><img src="/static/img/landingpage/tenant_and_clients.jpg" alt="tenant and client management software"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab--4">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-12 col-md-6">
                                        <div class="tab--text mt-5">
                                            <p>{{ self.snippet_content4 }}</p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="tab-thumb mt-5"><img src="/static/img/landingpage/maintenance.jpg" alt="maintenance management software"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab--5">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-12 col-md-6">
                                        <div class="tab--text mt-5">
                                            <p>{{ self.snippet_content5 }}</p></div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="tab-thumb mt-5"><img src="/static/img/landingpage/insights.jpg" alt="sales management software"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature Area-->
    <div class="feature-area feature3 section-padding-120-70">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-md-6 col-lg-5">
                    <!-- Feature Section Image-->
                    <div class="feature-side-img mb-50"><img src="/static/img/landingpage/02_manage_covid_facilities.jpg" alt="covid facility management software"></div>
                </div>
                <div class="col-12 col-md-6">
                    <!-- Feature Content-->
                    <div class="feature--content mb-50">
                        <h6>{{ self.manage_covid_subtitle }}</h6>
                        {% for block in self.manage_covid_content %}
                        {% if block.block_type == 'full_richtext' %}
                            <p>{{ block.value }}</p>
                        {% else %}
                        <ul class="text-primary">
                            <li class="block-{{ block.block_type }}">
                                {% include_block block %}
                            </li>
                        </ul>
                        {% endif %}
                    {% endfor %}
                    </div>
                       
        
                        
                        
                </div>
            </div>
        </div>
    </div>
    <!-- Pricing Plan Area-->
    <section class="saasbox-pricing-plan-area price2 section-padding-120 bg-gray">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-9 col-lg-7">
                    <div class="section-heading text-center">
                        
                        <p>{{ self.quote_content }}</p>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-12">
                    <div class="tab-content" id="priceTabContent">
                        <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="month--tab">
                            <div class="row no-gutters justify-content-center">
                                <!-- Single Pricing Plan-->
                                <div class="col-12 col-sm-8 col-md-7 col-lg-4">
                                    <div class="card pricing-card mb-30">
                                        <div class="pricing-heading d-flex align-items-center">
                                            <div class="price-icon"><i class="lni-pizza"></i></div>
                                            <div class="price">
                                                <h5>{{self.plan1}}</h5>
                                            </div>
                                        </div>
                                        {% for block in self.plan1_content %}
                                        {% if block.block_type == 'full_richtext' %}
                                        <div class="pricing-desc">
                                            <ul>
                                                <li>
                                                   {{block.value}}
                                                </li>
                                                
                                                
                                            </ul>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                        <div class="pricing-btn text-center"><a class="btn saasbox-btn" href="/contact-form/">{{self.plan_button}}</a></div>
                                    </div>
                                </div>
                                <!-- Single Pricing Plan-->
                                <div class="col-12 col-sm-8 col-md-7 col-lg-4">
                                    <div class="card pricing-card active mb-30">
                                        <div class="pricing-heading d-flex align-items-center">
                                            <div class="price-icon"><i class="lni-offer"></i></div>
                                            <div class="price">
                                                <h5>{{self.plan2}}</h5>
                                            </div>
                                        </div>
                                        
                                        <div class="pricing-desc">
                                            <ul>
                                                <li>{{ self.plan2_point1 }}</li><br>
                                                <li>{{ self.plan2_point2 }}</li><br>
                                                <li>{{ self.plan2_point3 }}</li><br>
                                                <li>{{ self.plan2_point4 }}</li>
                                                <!-- <li>{{ self.plan2_point5 }}</li> -->
                                            </ul>
                                        </div>
                                       
                                        <div class="pricing-btn text-center"><a class="btn saasbox-btn" href="/contact-form/">{{self.plan_button}}</a></div>
                                    </div>
                                </div>
                                <!-- Single Pricing Plan-->
                                <div class="col-12 col-sm-8 col-md-7 col-lg-4">
                                    <div class="card pricing-card mb-30">
                                        <div class="pricing-heading d-flex align-items-center">
                                            <div class="price-icon"><i class="lni-burger"></i></div>
                                            <div class="price">
                                                <h5>{{self.plan3}}</h5>
                                            </div>
                                        </div>
                                        {% for block in self.plan3_content %}
                                        {% if block.block_type == 'full_richtext' %}
                                        <div class="pricing-desc">
                                            <ul>
                                                <li>
                                                    {{block.value}}
                                                </li>
                                                
                                            </ul>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                        <div class="pricing-btn text-center"><a class="btn saasbox-btn" href="/contact-form/">{{self.plan_button}}</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Client Feedback Area-->
    <section class="client-feedback-area d-md-flex align-items-center justify-content-between section-padding-120">
        <!-- Client Shape-->
        <div class="client-shape"><img src="/static/img/core-img/testimonial.png" alt="testimonial"></div>
        <!-- Client Feedback Heading-->
        <div class="client-feedback-heading">
            <div class="section-heading mb-0 text-right">
                
                <h2 class="mb-0">{{ self.customer_content}}</h2>
            </div>
        </div>
        <!-- Client Feedback Content-->
        <div class="client-feedback-content">
            <div class="client-feedback-slides owl-carousel">
                <!-- Single Feedback Slide-->
                {% for block in page.testimonials %}
                {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </section>

    <div class="container">
        <div class="border-dashed"></div>
    </div>
    <section class="saasbox-cool-facts-area section-padding-120-70">
        <!-- Circle Animation-->
        <div class="circle-animation">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="section-heading text-center">
                        <h2>{{ self.page_title_content}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!-- Single Cool Facts Area-->
                <div class="col-12 col-sm-4">
                    <div class="single-cool-fact mb-50 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 100ms; animation-name: fadeInUp;">
                        <h2><span class="rs-counter">25</span>+</h2>
                        <p>{{ self.total_project }}</p>
                    </div>
                </div>
                <!-- Single Cool Facts Area-->
                <div class="col-12 col-sm-4">
                    <div class="single-cool-fact mb-50 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
                        <h2><span class="rs-counter">50000</span></h2>
                        <p>{{ self.project_unit }}</p>
                    </div>
                </div>
                <!-- Single Cool Facts Area-->
                <div class="col-12 col-sm-4">
                    <div class="single-cool-fact mb-50 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 500ms; animation-name: fadeInUp;">
                        <h2><span class="rs-counter">100000</span></h2>
                        <p>{{ self.tenants_managed }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- News Area-->
    <section class="saasbox-news-area section-padding-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-9 col-lg-7">
                    <div class="section-heading text-center">
                        
                        <h2>{{ self.news_content }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                {% for post in page.posts %}
                <div class="col-12 col-sm-6 col-lg-4">
                    {% image post.blog_list_image original as blog_img %}
                    <div class="card blog-card mb-50 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1000ms">
                        <a class="d-block mb-4" href="{{ post.url }}"><img class="card-img-top" src="{{ blog_img.url }}" alt="10 ways to manage your property oprations teams during virus spreads"></a>
                        <div class="post-content"><a class="d-block text-muted mb-1" href="#">{{post.date}}</a>
                            <a class="post-title d-block mb-3" href="{{ post.url }}">
                                <h4>{{ post.title }}</h4>
                            </a>
                            <div class="post-meta"><span class="text-muted">{{ post.read_time }}</span></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12 text-center"><a class="btn saasbox-btn" href="/blog/">{{ self.view_button }}</a></div>
            </div>
        </div>
    </section>
    <!-- Cool Facts Area-->
    <section class="cta-area cta3 py-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-sm-8">
                    <div class="cta-text mb-4 mb-sm-0">
                        <h4 class="text-white mb-0">{{ self.requestcontent }}</h4>
                    </div>
                </div>
                <div class="col-12 col-sm-4 text-sm-right"><a class="btn saasbox-btn white-btn" href="/contact-form/">{{ self.requestbutton }}</a></div>
            </div>
        </div>
    </section>
    <!-- Footer Area-->

    {% include "footer.html" %}

    <!-- All JavaScript Files-->
    {% include "all_js.html" %}


{% endblock %}
</body>
</html>