<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/default/classy-nav.min.js"></script>
<script src="/static/js/waypoints.min.js"></script>
<script src="/static/js/jquery.easing.min.js"></script>
<script src="/static/js/default/jquery.scrollup.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/imagesloaded.pkgd.min.js"></script>
<script src="/static/js/default/isotope.pkgd.min.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/jquery.animatedheadline.min.js"></script>
<script src="/static/js/jquery.counterup.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/jarallax.min.js"></script>
<script src="/static/js/jarallax-video.min.js"></script>
<script src="/static/js/default/cookiealert.js"></script>
<script src="/static/js/default/jquery.passwordstrength.js"></script>
<script src="/static/js/default/mail.js"></script>
<script src="/static/js/default/active.js"></script>

{% include "modal.html" %}