{% load i18n wagtailcore_tags %}
<footer class="footer-area footer2 section-padding-120">
    <div class="container">
        <div class="row justify-content-between">
            <!-- Footer Widget Area-->
            <div class="col-12 col-sm-10 col-lg-3">
                <div class="footer-widget-area mb-70">
                    <a class="d-block mb-4" href="/"><img src="/static/img/core-img/domitos-white.png" alt="logo-domitos"></a>
                    <p>All in one operational suite for Facility Management.</p>
                    <div class="newsletter-form">
                        <form action="#">
                            <input class="form-control" type="email" placeholder="Enter email &amp; press enter">
                            <button class="btn d-none" type="submit">Go</button>
                        </form>
                    </div>
                    <div class="footer-social-icon d-flex align-items-center">
                        <a href="https://www.facebook.com/domitosfms" target="_blank" data-toggle="tooltip" data-placement="top" title="Facbook"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/domitosfms" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.instagram.com/domitosfms/" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/domitos-facility-management-solution/" data-toggle="tooltip" data-placement="top" target="_blank" title="Linkedin">
                            <i class="fa fa-linkedin"></i></a>
                        <!-- <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube"></i></a> -->
                    </div>
                </div>
            </div>
            <!-- Footer Widget Area-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="footer-widget-area mb-70">
                    <h5 class="widget-title">Important Links</h5>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/covid-solutions/">COVID Management</a></li>
                        <li><a href="/contact-form/">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <!-- Footer Widget Area-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="footer-widget-area mb-70">
                    <h5 class="widget-title">Key Modules</h5>
                    <ul>
                        <li><a href="/module/lead-management/">CRM</a></li>
                        <li><a href="/module/facility-overview/">Facility Overview</a></li>
                        <li><a href="/module/client-management/">Client Portal</a></li>
                        <li><a href="/module/property-maintenance/">Property Maintenance</a></li>
                    </ul>
                </div>
            </div>
            <!-- Footer Widget Area-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="footer-widget-area mb-70">
                    <h5 class="widget-title">Resources</h5>
                    <ul>
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="/">About Domitos</a></li>
                        <li><a href="https://mdrift.com/">About mDrift</a></li>
                        <li><a href="/resources/privacy/">Privacy Policy</a></li>
                        <li><a href="/support-services/">Help &amp; Support</a></li>
                        <li><a href="/resources/gdpr/">GDPR</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 col-lg-5">
                <!-- Copywrite Text-->
                <div class="footer--content-text">
                    <p class="mb-0">All rights reserved by <a href="https://mdrift.com" target="_blank">mDrift Technologies</a></p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                <!-- Footer Nav-->
                <div class="footer-nav">
                    <ul class="d-flex">
                        <li><a href="/resources/privacy/" target="_blank">Privacy Policy</a></li>
                        <li><a href="/resources/terms-of-conditions/" target="_blank">Terms &amp; Conditions</a></li>
                        <li><a href="/resources/cookie/" target="_blank">Cookies Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <!-- Default dropup button-->
                <div class="language-dropdown text-center text-lg-right mt-4 mt-lg-0">
                    <div class="btn-group dropdown">
                        <a class="btn saasbox-btn-2 dropdown-toggle text-white" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</a>
                        {% if page %}
                        {% for translation in page.get_translations.live %}
                            {% get_language_info for translation.locale.language_code as lang %}
                        <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="{% pageurl translation %}" hreflang="{{ language_code }}">
                            {{ lang.name_local }}
                        </a>
                            {% endfor %}
                            {% endif %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    </script>
    <script id="optinly_script" async="true" data-app_id='ac9ac7a8-d8c4-4f7e-8bde-945e52f9d92f' src='https://cdn.optinly.net/v1/optinly.js' type='text/javascript'> </script>
</footer>