<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags-->
    <!-- Title-->
    <!-- PureCookie -->
    <link rel="stylesheet" type="text/css" href="/static/css/purecookie.css" async />
    <!--script src="/static/js/purecookie.js" async></script-->
    <!--            -->
    <link rel="icon" href="/static/img/core-img/favicon.ico">
    <!-- Core Stylesheet-->
    <link rel="stylesheet" href="/static/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-W363RVV');
    </script>
    <script src="/static/js/cookie.umd.min.js"></script>
    <script>
        var consent = cookie.get('isSet');
        cookie.expiresMultiplier = 1; // setting to one second

        var purecookieTitle = "Cookies."; // Title
        var purecookieDesc = "By using this website, you automatically accept that we use cookies."; // Description
        var purecookieLink = '<a href="cookie-policy.html" target="_blank">What for?</a>'; // Cookiepolicy link
        var purecookieButton = "Understood"; // Button text
        // ---        --- //


        function pureFadeIn(elem, display) {
            var el = document.getElementById(elem);
            el.style.opacity = 0;
            el.style.display = display || "block";

            (function fade() {
                var val = parseFloat(el.style.opacity);
                if (!((val += .02) > 1)) {
                    el.style.opacity = val;
                    requestAnimationFrame(fade);
                }
            })();
        };

        function pureFadeOut(elem) {
            var el = document.getElementById(elem);
            el.style.opacity = 1;

            (function fade() {
                if ((el.style.opacity -= .02) < 0) {
                    el.style.display = "none";
                } else {
                    requestAnimationFrame(fade);
                }
            })();
        };

        function cookieConsent() {
            if (!consent) {
                document.body.innerHTML += '<div class="cookieConsentContainer" id="cookieConsentContainer"><div class="cookieTitle"><a>' + purecookieTitle + '</a></div><div class="cookieDesc"><p>' + purecookieDesc + ' ' + purecookieLink + '</p></div><div class="cookieButton"><a onClick="purecookieDismiss();">' + purecookieButton + '</a></div></div>';
                pureFadeIn("cookieConsentContainer");
            }
        }

        function purecookieDismiss() {
            cookie.set({
                isSet: 'true'
            }, {
                expires: 60 * 60 * 24 * 7
            });
            pureFadeOut("cookieConsentContainer");
        }

        window.onload = function() {
            cookieConsent();
            // showCmModal('#interactiveModal13');
        };
    </script>



    <!-- End Google Tag Manager -->