<!DOCTYPE html>
{% load wagtailimages_tags wagtailcore_tags %}
<html lang="en">{% include "head.html" %}
<title>{{self.header_title}}</title>
<meta name="description" content="{{self.meta_content}}">
<!-- Favicon-->
</head>

<body>

    <!-- Preloader-->
    <!-- Header Area-->{% include "header.html" %}
    <!-- Scroll Indicator-->
    <div id="scrollIndicator"></div>
    <!-- Breadcrumb Area-->
    <!-- saasbox Blog Area-->
    <div class="saasbox--blog--area section-padding-120">
        <div class="container">
            <div class="row">
                <div class="col-3 sidebar-blog">
                    <div id="toc_container">
                        <p><u>LATEST BLOGS</u></p>
                        {% for post in page.posts %}
                        <ul class="toc_list">
                            <li><a href="{{ post.url }}">{{ post.title }}</a></li><hr>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
                {% image self.blog_detail_image fill-1200x675 as blog_img %}
                <div class="col-9">
                    <div class="single-blog-details-area">
                        <img class="post-thumbnail mb-5" src="{{ blog_img.url }}" alt="Why Asset Tracking Software Is Good for Restaurant Business">
                        <div class="post-date mb-2">{{ self.date }}</div>
                    
                        
                        
                        <p>
                            {{self.content}}
                        </p>
                        </div>
                    <!-- Post Tag & Share Button-->
                    <div class="post-tag-share-button d-sm-flex align-items-center justify-content-between my-5">
                        <!-- Post Tags-->
                        <!-- <div class="post-tag pb-5">
                            <ul class="d-flex align-items-center">
                                <li><a href="#">Asset Tracking</a></li>
                                <li><a href="#">Facility Management</a></li>
                                <li><a href="#">Resturant Business</a></li>
                            </ul>
                        </div> -->
                        <!-- Share Button-->
                        <div class="share-button pb-5">
                            <a href="http://www.facebook.com/sharer.php?u=http://127.0.0.1:8000/blog/why-asset-tracking-software-good-for-restaurant-business/"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/domitosfms?lang=en"><i class="fa fa-twitter"></i></a>
                            <a href="#">
                                <i class="fa fa-pinterest"></i></a>
                            </div>
                    </div>
                    <!-- Comments Area-->
                </div>
            </div>
        </div>
    </div>
    <!-- Cool Facts Area-->
    <section class="cta-area cta3 py-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-sm-8">
                    <div class="cta-text mb-4 mb-sm-0">
                        <h4 class="text-white mb-0">{{ self.requestcontent }}</h4>
                    </div>
                </div>
                <div class="col-12 col-sm-4 text-sm-right"><a class="btn saasbox-btn white-btn" href="/contact-form/">{{ self.requestbutton }}</a></div>
            </div>
        </div>
    </section>
    <!-- Footer Area-->{% include "footer.html" %}
    <!-- All JavaScript Files-->{% include "all_js.html" %}
</body>

</html>


