{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags %}
{% load wagtailcore_tags widget_tweaks %}
{% block content %}
<!doctype html>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='/static/css/bootstrap.min.css'>  
    <link rel="stylesheet" href='/static/css/style.css'> 
      
    <title>Become a Partner</title>
    
  </head>
  <body>
    <!-- Preloader-->
    <!-- Header Area-->{% include "header.html" %}
    <!-- Scroll Indicator-->
    <div id="scrollIndicator"></div>
    <!-- Breadcrumb Area-->
    <!-- saasbox Blog Area-->
    <div class="saasbox--blog--area section-padding-120">
<section class="partner-form">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="text-center font-weight-bolder">Become a <span style=" color: #f98439;">Domitos</span> partner now!</h2>
      </div>
      <div class="col-lg-5 col-12 mt-4">
        <div class="card p-5 shadow">
          <form id="partnerForm" action="{% pageurl page %}" method="POST">
            <div class="form-group">
                {% csrf_token %}
                                        
                {% for field in form %}
                <div class="form-group">
                  {{ field.label_tag }}
                  {% render_field field class+="form-control" placeholder+=field.help_text %}
                 
                </div>
              {% endfor %}
            <div class="form-group mx-4 mt-4 mb-0">
              <button type="submit" class="btn text-white w-100 p-3">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
</div>


 <!-- Footer Area-->{% include "footer.html" %}
    <!-- All JavaScript Files-->{% include "all_js.html" %}
</body>
</html>
{% endblock %}