<!DOCTYPE html>
{% extends 'base.html' %}
{% load wagtailcore_tags widget_tweaks %}
{% block content %}

<html class="no-js" lang="en">
    <head>
        
        <title>
            {{ self.header_title }}
        </title>
        <meta name="description" content="{{self.meta_content}}" />
        
    </head>
    <body>

    <!-- Preloader-->
    <!-- Header Area-->{% include "header.html" %}
    <!-- Scroll Indicator-->
    <div id="scrollIndicator"></div>
    <!-- Breadcrumb Area-->
    <div class="container">
        <div class="row">
            <div class="text-center">
                
                    <img src="/static/img/thank-you-.jpg" class="img-fluid" alt="" style="padding: 200px ; width: 70%; ">
                    
               
            </div>

        </div>

    </div>



    <!-- Cool Facts Area-->
    <section class="cta-area cta3 py-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-sm-8">
                    <div class="cta-text mb-4 mb-sm-0">
                        <h5 class="text-white mb-0">Request a demo to see how Domitos can help to streamline your Business </h5>
                    </div>
                </div>
                <div class="col-12 col-sm-4 text-sm-right"><a class="btn saasbox-btn white-btn" href="#">Request a Demo</a></div>
            </div>
        </div>
    </section>
    <!-- Footer Area-->{% include "footer.html" %}
    <!-- All JavaScript Files-->{% include "all_js.html" %}


{% endblock %}
</body>
</html>