{% load wagtailimages_tags %}


        {% for card in self.cards %}
        <div class="card feedback-card">
            <div class="card-body"><i class="lni-quotation"></i>
                <p class="card-subtitle">{{ card.subtitle }}</p>
                <div class="client-info d-flex align-items-center">
                    <div class="client-name">
                        <h6 class="card-title">{{ card.title }}</h6>
                        <p class="card-text">{{ card.text }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}






