{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        
        <title>
            {{ self.header_title }}
        </title>
        <meta name="description" content="{{self.meta_content}}" />
        
    </head>
    <body>
    <!-- Preloader
    <div class="preloader" id="preloader">
        <div class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span></div>
    </div>-->
    <!-- Header Area-->
    {% include "header.html" %}
    <!-- Welcome Area-->

    <div class="row align-items-center justify-content-md-center justify-content-lg-between">
        <!-- About Thumbnail Area-->
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="aboutUs-thumbnail mt-120 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;"><img class="w-100" src="/static/img/covid/covid-hospital.jpg" alt="Domitos Custom Module for COVID MANAGEMENT" data-pagespeed-url-hash="2831503808" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></div>
        </div>
        <!-- About Us Content Area-->
        <div class="col-12 col-md-8 col-lg-6">
            <div class="aboutUs-content mt-120 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInUp;">
                <div class="section-heading mb-5">
                    <h6>{{ self.subtitle1 }}</h6>
                    <h2>{{ self.subtitle }}</h2>
                    <p>{{ self.content5 }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- About Area-->
    <section class="about-area about3 section-padding-120-90 bg-gray">
        <div class="container">
            <div class="hero--content--area">
                <div class="row justify-content-center">
                    <!-- Single Hero Card-->
                    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 mb-30">
                        <div class="card hero-card h-100 border-0 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1000ms">
                            <div class="card-body"><i class="lni-hospital"></i>
                                <h5>{{ self.cardtitle1 }}</h5>
                                <p class="mb-0">{{ self.cardtext1 }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Hero Card-->
                    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 mb-30">
                        <div class="card hero-card h-100 border-0 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms">
                            <div class="card-body"><i class="lni-apartment"></i>
                                <h5>{{ self.cardtitle2 }}</h5>
                                <p class="mb-0">{{ self.cardtext2 }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Hero Card-->
                    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 mb-30">
                        <div class="card hero-card h-100 border-0 wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1000ms">
                            <div class="card-body"><i class="lni-hand"></i>
                                <h5>{{ self.cardtitle3 }}</h5>
                                <p class="mb-0">{{ self.cardtext3 }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Hero Card-->
                    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 mb-30">
                        <div class="card hero-card h-100 border-0 wow fadeInUp" data-wow-delay="700ms" data-wow-duration="1000ms">
                            <div class="card-body"><i class="lni-mobile"></i>
                                <h5>{{ self.cardtitle4 }}</h5>
                                <p class="mb-0">{{ self.cardtext4 }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Hero Card-->
                    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 mb-30">
                        <div class="card hero-card h-100 border-0 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1000ms">
                            <div class="card-body"><i class="lni-user"></i>
                                <h5>{{ self.cardtitle5 }}</h5>
                                <p class="mb-0">{{ self.cardtext5 }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Hero Card-->
                    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 mb-30">
                        <div class="card hero-card h-100 border-0 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms">
                            <div class="card-body"><i class="lni-plug"></i>
                                <h5>{{ self.cardtitle6 }}</h5>
                                <p class="mb-0">{{ self.cardtext6 }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Hero Card-->
                    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 mb-30">
                        <div class="card hero-card h-100 border-0 wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1000ms">
                            <div class="card-body"><i class="lni-alarm"></i>
                                <h5>{{ self.cardtitle7 }}</h5>
                                <p class="mb-0">{{ self.cardtext7 }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Hero Card-->
                    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 mb-30">
                        <div class="card hero-card h-100 border-0 wow fadeInUp" data-wow-delay="700ms" data-wow-duration="1000ms">
                            <div class="card-body"><i class="lni-users"></i>
                                <h5>{{ self.cardtitle8 }}</h5>
                                <p class="mb-0">{{ self.cardtext8 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="border-top"></div>
    </div>
    <!-- Feature Area-->
    <div class="feature-area feature3 section-padding-120-70">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-md-1">

                </div>
                <div class="col-12 col-md-4">
                    <!-- Feature Section Image-->
                    <div class="feature-side-img mb-50"><img src="/static/img/covid/manage-hotspots.svg" alt="Domitos covid facility management in multiple hierarchies" data-pagespeed-url-hash="2366673639" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></div>
                </div>
                <div class="col-12 col-md-6">
                    <!-- Feature Content-->
                    <div class="feature--content mb-50">
                        <p>{{ self.content1 }}</p>
                    </div>
                </div>
                <div class="col-12 col-md-1">

                </div>

            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-md-1">

                </div>

                <div class="col-12 col-md-6">
                    <!-- Feature Content-->
                    <div class="feature--content mb-50">
                        <p>{{ self.content2 }}</p>

                    </div>
                </div>
                
                <div class="col-12 col-md-4">
                    <!-- Feature Section Image-->
                    <div class="feature-side-img mb-50"><img src="/static/img/covid/programming.svg" alt="Domitos covid facility management control tower" data-pagespeed-url-hash="1364770028" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></div>
                </div>
                <div class="col-12 col-md-1">

                </div>

            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-md-1">

                </div>
                <div class="col-12 col-md-4">
                    <!-- Feature Section Image-->
                    <div class="feature-side-img mb-50"><img src="/static/img/covid/social-dist.svg" alt="Covid social ditancing by geographical hotspot tagging" data-pagespeed-url-hash="3756506313" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></div>
                </div>
                <div class="col-12 col-md-6">
                    <!-- Feature Content-->
                    <div class="feature--content mb-50">
                        <p>{{ self.content3 }}</p>

                    </div>
                </div>
                <div class="col-12 col-md-1">

                </div>

            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-md-1">

                </div>

                <div class="col-12 col-md-6">
                    <!-- Feature Content-->
                    <div class="feature--content mb-50">
                        <p>{{ self.content4 }}</p>

                    </div>
                </div>
            
                <div class="col-12 col-md-3">
                    <!-- Feature Section Image-->
                    <div class="feature-side-img mb-50"><img src="/static/img/covid/map-light.svg" alt="covid hotspot management by geography restriction" data-pagespeed-url-hash="3634572600" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></div>
                </div>
                <div class="col-12 col-md-2">

                </div>

            </div>
        </div>
        </div>
    <!-- </div> -->
    <!-- FAQ Area-->
    <div class="faq--area section-padding-120-70">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-lg-6">
                    <div class="faq-content mb-50">
                        <h2>{{ self.question_title }}</h2>
                        <div class="accordion faq--accordian mt-5" id="faqaccordian">
                            <!-- Single FAQ-->
                            <div class="card border-0">
                                <div class="card-header" id="headingOne">
                                    <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{{ self.question1 }}</button>
                                </div>
                                <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqaccordian">
                                    <div class="card-body">
                                        <p>{{ self.answer1 }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single FAQ-->
                            <div class="card border-0">
                                <div class="card-header" id="headingTwo">
                                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">{{ self.question2 }}</button>
                                </div>
                                <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faqaccordian">
                                    <div class="card-body">
                                        <p>{{ self.answer2 }}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single FAQ-->
                            <div class="card border-0">
                                <div class="card-header" id="headingThree">
                                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">{{ self.question3 }}</button>
                                </div>
                                <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#faqaccordian">
                                    <div class="card-body">
                                        <p>{{ self.answer3 }}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single FAQ-->
                            <div class="card border-0">
                                <div class="card-header" id="headingFour">
                                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseThree">{{ self.question4 }}</button>
                                </div>
                                <div class="collapse" id="collapseFour" aria-labelledby="headingThree" data-parent="#faqaccordian">
                                    <div class="card-body">
                                        <p>{{ self.answer4 }}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single FAQ-->
                            <div class="card border-0">
                                <div class="card-header" id="headingFive">
                                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseThree">{{ self.question5 }}</button>
                                </div>
                                <div class="collapse" id="collapseFive" aria-labelledby="headingThree" data-parent="#faqaccordian">
                                    <div class="card-body">
                                        <p>{{ self.answer5 }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="faq--thumbnail mb-50"><img src="/static/img/covid/covid-street.jpg" alt="spraying disinfectant in open" data-pagespeed-url-hash="4269817357" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cool Facts Area-->
    <section class="cta-area cta3 py-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-sm-8">
                    <div class="cta-text mb-4 mb-sm-0">
                        <h4 class="text-white mb-0">{{ self.requestcontent }}</h4>
                    </div>
                </div>
                <div class="col-12 col-sm-4 text-sm-right"><a class="btn saasbox-btn white-btn" href="/contact-form/">{{ self.requestbutton }}</a></div>
            </div>
        </div>
    </section>

    <!-- Cookie Alert Area-->
    <div class="cookiealert mb-0" role="alert" style="display: none;">
        <p>This site uses cookies. We use cookies to ensure you get the best experience on our website. For details, please check our <a href="#" target="_blank"> Privacy Policy.</a></p>
        <button class="btn btn-primary acceptcookies" type="button" aria-label="Close">I agree</button>
    </div>


    {% include "footer.html" %}

    <!-- All JavaScript Files-->
    {% include "all_js.html" %}

    {% include "modal.html" %}

{% endblock %}
</body>
</html>
